<footer>
    <hr>
    <p class="text-muted col-md-12 mb-2" style="text-align: center; margin: auto">
        Made by Stanislas RACZYNSKI & Yahia LAMRI - on <a href="https://www.github.com/awuzi/filmotec" target="_blank">Github</a>
    </p>
</footer>