<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">FILMOTEC</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">HOME</a>
            <a class="nav-item nav-link" href="/apnotpan">NOTPAN</a>
            <a class="nav-item nav-link" href="/apmagweb">MAGWEB</a>
            {% if user %}
                <a class="nav-item nav-link">Welcome {{ user.name }}</a>
                <a class="nav-item nav-link" href="/logout">Logout</a>
            {% else %}
                <a class="nav-item nav-link" href="/login">Login</a>
            {% endif %}
        </div>
    </div>
</nav>