{% extends 'layout.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}

{% block body %}

    {% include 'includes/navbar.twig' %}

    <div class="container">
        <div class="jumbotron mt-5" style=""><h1 class="display-3">Welcome to APNOTPAN</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        </div>


        {% for movie in movies %}
            <div class="mt-4 gird">
                <div class="card col-md-12">
                    <div class="row no-gutters">
                        <div class="col-md-2" style="background: #868e96;">
                            <img src="http://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" class="card-img-top h-100" alt="...">
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h4 class="card-title">{{ movie.title | upper }}</h4>
                                <p class="card-text">{{ movie.overview | truncate(300, false, "...") }}</p>
                                <p class="card-text text-muted"></p>
                                <p class="card-text text-muted"></p>
                                <a href="/apnotpan/{{ movie.id }}" class="btn btn-outline-dark">See More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% include 'includes/footer.twig' %}
    </div>

{% endblock %}
