{% extends 'layout.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}

{% block body %}

    {% include 'includes/navbar.twig' %}

    <div class="container">
        <h1 class="mt-6">Welcome to the APNOTPAN</h1>

        {% for movie in movies %}
            <div class="card-deck mt-4 gird">
                <div class="card col-md-12">
                    <div class="row no-gutters">
                        <div class="col-md-2" style="background: #868e96;">
                            <img src="http://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" class="card-img-top h-100" alt="...">
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="card-title">{{ movie.title | upper }}</h5>
                                <p class="card-text">{{ movie.overview | truncate(300, false, "...") }}</p>
                                <p class="card-text text-muted"> Produceur name</p>
                                <a href="#" class="btn btn-primary stretched-link">
                                    {% if note %}
                                        there is {{ note|length }} note
                                    {% else %}
                                        no note on this movie
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}


    </div>

{% endblock %}
