<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block stylesheets %}
        <link rel="stylesheet" href="stylesheets/style.css">
    {% endblock %}
    <title>FILMOTEC</title>

</head>

<body>
{% block body %}{% endblock %}
</body>


</html>
